<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logbe</servlet-name>
        <servlet-class>MovieTic.logbe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingupBE</servlet-name>
        <servlet-class>MovieTic.SingupBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBack</servlet-name>
        <servlet-class>MovieTic.LoginBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieBE</servlet-name>
        <servlet-class>MovieTic.MovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbConnection</servlet-name>
        <servlet-class>DbConnection.DbConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginBE</servlet-name>
        <servlet-class>MovieTic.AdminLoginBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>MovieTic.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>javac</servlet-name>
        <servlet-class>MovieTic.javac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDataBE</servlet-name>
        <servlet-class>MovieTic.InsertDataBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDataBackEnd</servlet-name>
        <servlet-class>MovieTic.InsertDataBackEnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageBE</servlet-name>
        <servlet-class>MovieTic.ImageBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBE</servlet-name>
        <servlet-class>MovieTic.DeleteBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDataBE</servlet-name>
        <servlet-class>MovieTic.FetchDataBE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logbe</servlet-name>
        <url-pattern>/logbe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingupBE</servlet-name>
        <url-pattern>/SingupBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBack</servlet-name>
        <url-pattern>/LoginBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieBE</servlet-name>
        <url-pattern>/MovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbConnection</servlet-name>
        <url-pattern>/DbConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginBE</servlet-name>
        <url-pattern>/AdminLoginBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>javac</servlet-name>
        <url-pattern>/javac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDataBE</servlet-name>
        <url-pattern>/InsertDataBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDataBackEnd</servlet-name>
        <url-pattern>/InsertDataBackEnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageBE</servlet-name>
        <url-pattern>/ImageBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBE</servlet-name>
        <url-pattern>/DeleteBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDataBE</servlet-name>
        <url-pattern>/FetchDataBE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
